h1 {
  display: inline;
}
nav {
  float: right;
  padding-top: 10px;
  padding-right: 380px;
}
.search {
  margin-top: 20px;
  width: 400px;
  float: left;
}
.search ul {
  border: 1px solid;
  list-style-type: none;
}
.search label {
  text-align: right;
  margin-right: 10px;
  float: left;
  width: 90px;
}
#selectTable td, th {
  border: 1px solid;
  height: 20px;
}
#selectTable {
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
  width: 400px;
}
.info {
  margin-top: 20px;
  float: left;
}
.info td {
  padding: 2.5px;
}
.info label {
  text-align: right;
  margin-right: 10px;
  float: left;
  width: 90px;
}
#regiInfo {
  border: 1px solid;
  border-collapse: collapse;
}
#regiInfo td {
  border: 1px solid;
}
#regiInfo label {
  text-align: center;
  width: 210px;
}
#sub {
  text-align: center;
}